#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

input[type=checkbox] {
    margin: 0;
    width: 1.3em;
    height: 1.3em;
    font-size: 1rem;
}

.list-container {
    font-family: inherit;
}

.counter {
    color: blue;
}

.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}

button.removeAllBtn {
    margin-top: 2rem;
}